@charset "utf-8";
/* ===================================================================
CSS information

 File Name  : module.css
 Style Info : 共通要素の基本設定

11px = 85%		12px = 93%		13px = 100%		14px = 108%
15px = 116%		16px = 123.1%	17px = 131%		18px = 138.5%
19px = 146.5%	20px = 153.9%	21px = 161.6%	22px = 167%
23px = 174%		24px = 182%		25px = 189%		26px = 197%
=================================================================== */

/*----------------------------------------------------------------
	共通
----------------------------------------------------------------*/
html { overflow-y: scroll; }


body {
	color: #333;
	background: #fff;
	font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	min-width:960px;
}
body.large	{ font-size:14px; }
body.small	{ font-size:10px; }
/* for IE6, 7 */
input,textarea{
	/font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
}
h1,h2,h3,h4,h5,h6,dt {
	font-weight: bold;
}
textarea	{ resize: vertical; }
img {
	vertical-align: top;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
em { color: #511; font-weight: bold; font-weight: normal; }
textarea	{ resize: vertical; }
address	{ font-style: normal; }
a, a:link	{
	color: #00F;
	text-decoration: underline;

}
a:visited	{
	text-decoration:  underline;
	color: #00F;
}
a:hover	{
	text-decoration: none;
	color: #00F;
}


*{zoom:1;}

li{
display: list-item;
vertical-align:top;
padding:0;
margin:0;}

img{
	line-height:1;
	font-size:0;

}
/* form要素
----------------------------------------------------------- */
input,textarea{
	padding:5px 7px;
	border-radius:2px;
	margin:0;
	border:none;
	background-color:#fff;
	border: 1px solid #A7A6AA;
	}
	
.jInput {
        border: 1px solid #A7A6AA;
        }
.jFocus {
        outline: medium none !important;
        background-color: #fff !important;
        border-color: #6ddeff !important;
        }
.jFocus {
        box-shadow: 0 0 3px rgba(82, 168, 236, 0.5);
        -webkit-box-shadow: 0 0 3px rgba(82, 168, 236, 0.5);
        -moz-box-shadow: 0 0 3px rgba(82, 168, 236, 0.5);
        -ms-box-shadow: 0 0 3px rgba(82, 168, 236, 0.5);
        -o-box-shadow: 0 0 3px rgba(82, 168, 236, 0.5);
        border-color: rgba(82, 168, 236, 0.75) !important;
        }

/* page要素
----------------------------------------------------------- */
div#page	{ font-size: 100%; text-align: left; }

/* header要素
----------------------------------------------------------- */
#header	{
	background: ;
	border-bottom: 1px solid #CCC;
	overflow:hidden;
}
#header hgroup	{}
#header h2 { font-size: 85%; }
#header .utility	{
	position: absolute;
	top: 0;
	right:0;
}

#header .fontChanger dt	{ width: 75px; }
#header .fontChanger dd	{ width: 85px; margin: -18px 0 0 75px; }
#header .fontChanger dd img	{ margin-right: 3px; cursor: pointer; }

/* mainVisual要素
----------------------------------------------------------- */
div#mainVisual	{

}
/* gNavi Style要素
----------------------------------------------------------- */

#gNavi{
	overflow:hidden;}

#gNavi ul{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	_zoom: 1;
}
#gNavi li	{ float: left; }

/* contents要素
----------------------------------------------------------- */
div#contents	{
	overflow: hidden;
	_zoom: 1;
}

div#contents .inner{
	width: 960px;
	margin: 0 auto;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	overflow: hidden;
	_zoom: 1;
}

#contents #pankuzu	{
	color: #999;
	text-align: right;
	margin-bottom: 10px;
}
#contents #pankuzu li	{ display: inline; }

#contents .pageTop {
	position: fixed;
	right: 0;
	bottom: 0;
	clear: both;
	margin: 0;
	padding: 7px 12px;
	background: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	text-align: right;
	font-size: 85%;
}
#contents .pageTop a { color: #333; }
#contents .pageTop a:hover { color: #f63; }
#contents .pageTop a:before { content: "↑ "; }
/* for IE6 */
* html #contents .pageTop {
	padding: 15px 0 0;
	border: 0;
	font-size: 100%;
}
/* main要素
----------------------------------------------------------- */
#main	{
	width: 620px;
	float: left;
	font-size: 108%;
	line-height: 150%;
}
#main article	{ padding: 0; }
#main section	{ margin-bottom:40px; clear:both;  }
#main article section a:hover	{

}



#main .imgC	{ text-align: center; }
#main p { margin-bottom: 1.2em; }
#main span { color: #F00; }
#main dt	{ color: #000; }

/* 共通要素
----------------------------------------------- */
#main .kome  {
	padding-left: 1em;
	text-indent: -1em;
}
#main .dis	{
	background: #EEE;
	padding: 20px;
}
#main article section dl,
#main article section ul, 
#main article section ol	{ margin-bottom: 1.2em; }
#main article section ul.nl li	{
	list-style-type: disc;
	padding: 3px 0px;
	margin-left: 25px;
}
#main article section ol.nl li	{
	list-style-type: decimal;
	padding: 3px 0px;
	margin-left: 30px;
}
#main .pageNavi	{ text-align: center; }

.txtR	{ text-align: right; }
.txtC	{ text-align: center !important; }
.tabNav	{ margin-bottom: 10px; }
.tabNav li	{ display: inline; margin-right: 10px;}
.switchHat	{ background: url(../img/icon/pura.jpg) no-repeat center left; padding-left: 10px; }
.nowOpen	{ background: url(../img/icon/nainasu.jpg) no-repeat center left; }
.firstChild	{}
.lastChild	{}

/* Image Style
----------------------------------------------- */
#main .imgArea	{ width: 100%; margin-bottom:15px; }
.imgR {	float: right;	margin: 0 0 0 15px;}
.imgL {	float: left;	margin: 0 15px 0 0;}
.textArea	{ overflow: hidden; _zoom: 1; }
.img img,#main .map	{ border: 1px solid #CCC; padding:1px; }
#main .map	{ margin-bottom: 5px; }

.alignleft {
    float: left;
	margin:0 15px 0 0;
	padding:1px;
}
.alignright {
    float: right;
	margin:0 0 0 15px;
	padding:1px;
}



/* ページ分割ナビ
------------------------------------------------------------ */
#main .wp-pagenavi	{ padding: 20px 0 40px; text-align: center; overflow: hidden; }
#main .wp-pagenavi a, #main .wp-pagenavi span	{
	display: inline-block;
	padding:3px 8px;
	background:#ccc;
	color:#333;
	margin-right: 5px;
	text-decoration: none;
	border-radius:3px;
}
#main .wp-pagenavi a, #main .wp-pagenavi span	{
		/display:inline !important;
}

#main .wp-pagenavi span	{background:#333; color:#fff; }
#main .wp-pagenavi .pages	{
	background:#333;
	color: #fff;
	margin-right: 20px;
	padding:3px 10px;
}
#main .wp-pagenavi a:hover	{background:#333; color:#fff; }
#main .wp-pagenavi .alignleft	{ display: inline-block; /display:inline !important;}
#main .wp-pagenavi .center	{  display: inline-block; /display:inline !important;}
#main .wp-pagenavi .alignright	{  display: inline-block;/display:inline !important;}

/* side要素
----------------------------------------------------------- */
#side	{
	width: 300px;
	float: right;
}
#side h3	{
	margin-bottom: 10px;
}
#side li	{ list-style-type: none; }

/* footer要素
----------------------------------------------------------- */
#footer	{

	overflow:hidden;
}


/* clearfix */
.clearfix	{ width: 100%; }
#main .imgArea:after, .clearfix:after
{ height:0;	visibility: hidden;	content: ".";	display: block;	clear: both; }

/* 基本クラス
----------------------------------------------------------- */

.ovfl{
	overflow:hidden;}


.clear{
	clear:both;}
	
.clear hr{
	display:none;}	