@charset "utf-8";
/* CSS Document */

header h1{
	 float:left;
	 padding:0 20px 0 10px;
	 font-size:20px;
	 color:#fff;
	 font-weight:normal;
	 font-family:Georgia, "Times New Roman", Times, serif;
	 line-height:100%;}
	 
	 
 body {
        
        padding-bottom: 40px;
      }

#container{
	padding-top: 60px;

	margin:0 auto;
	}
	
#container a.btn{
	color:#fff;
	text-decoration:none;}	
	
#container h1{
	font-size:20px;
	font-weight:normal;
	color:#333;}
	
	
#container h3{
	font-size:17px;
	font-weight:normal;}	
	
#container table th,#container table td{
	padding:5px 10px; }	
	
#container table th,#container table td.v_mid{
	text-align:center;
	vertical-align:middle;}
	
#container article{
	margin-bottom:40px;
	padding-top:50px;}	


#container .ttl{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#707070;
	text-shadow:0 1px 0 #fff;}

#copyright{ text-align:right;}

#container small{
	color:#999;
	font-weight:normal;}
	
	td.txtC{
		padding:10px 0 !important ;}

